@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>Product ID : @Model.Id</p>
    <p>Product Name : @Model.Name</p>
    <p>Product Qty : @Model.Qty</p>
    <p>Product Rate : @Model.Rate</p>

}
